*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wholehome{
    margin:0;

    background-image: linear-gradient(
        155deg,
        hsl(169deg 88% 91%) 0%,
        hsl(168deg 87% 93%) 9%,
        hsl(168deg 87% 95%) 19%,
        hsl(168deg 87% 96%) 29%,
        hsl(168deg 87% 98%) 39%,
        hsl(0deg 0% 100%) 50%,
        hsl(169deg 52% 98%) 60%,
        hsl(169deg 52% 97%) 70%,
        hsl(169deg 53% 95%) 80%,
        hsl(169deg 53% 93%) 90%,
        hsl(170deg 53% 92%) 100%
      );
background-size: cover;
      height: 125vh;
}