@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
.faqbut{
    width: 150px;
    height: 50px;
    /* top: 40px;
    left: 1230px; */
    gap: 0px;
    border-radius: 10px ;
    /* opacity: 0px; */
    font-family: "Inter", sans-serif;
    background-color: #54BD95;
   color: #F8F8FA;
border: none;
}
.faqtxt{
    font-family: "Inter", sans-serif; 
}