@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
.cartitem-whole {
  width: 80%;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
 
}

.eachrow {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cart-item-image {
  width: 50px;
  height: auto;
  border-radius: 4px;
}

.cart-item-details {
  flex: 1;
  margin-left: 20px;
  font-family: "Inter", sans-serif;
}

.cart-item-details h5 {
  margin: 0;
  font-size: 18px;
}

.quantity-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.quantity-controls button {
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #54BD95;
  color: #F8F8FA;
  cursor: pointer;
  font-weight:bold ;
}


.quantity-controls span {
  font-size: 16px;
  font-weight: bold;
}

.remove-button {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Inter", sans-serif;

}

.remove-button span {
  font-size: 16px;
  font-weight: bold;
}

.totprice {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  border-top: 1px solid #ddd;
  margin: auto;
  /* margin-top: 20px; */
  background-color: #54BD95;
  color: #F8F8FA;
  width: 70%;
}

.totprice span {
  font-size: 18px;
  font-weight: bold;
  font-size: 20px;
}

.centerr {
  text-align: center;
  padding: 50px 0;

}

.centerr h2 {
  font-size: 24px;
  margin-bottom: 20px;
  font-family: "Inter", sans-serif;
}
.bbc{
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #54BD95;
  color: #F8F8FA;
  cursor: pointer;
  /* font-weight: 400; */
}

.centerr button  {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #54BD95;
  color: #F8F8FA;
  cursor: pointer;
}

.centerr button:hover {
  background-color: #F8F8FA;
  color: #54BD95;
}
