@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
.whole_company{
    margin-top: 50px;
    /* width: max-content; */
}
.whole_company h2{
font-family: "Inter", sans-serif;
font-size: 40px;
font-weight: 800;
line-height: 48.41px;
text-align: center;

}
.logoname{
    text-align: center;
    font-size: 18px;
    text-transform: capitalize;
   color: #A6A6A6;

}