@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
.bc-body{
    /* border: #6c6cce 1px solid; */
   /* background-color: rgba(252, 249, 244, 0.712); */
   
 
   box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
   border: 1px dotted;  border-top: none; border-bottom-left-radius: 25px; border-bottom-right-radius: 25px;
   }
.bc-whole{
   font-family: "Inter", sans-serif;
  height: 100%;
border: none;
  position: relative;

   /* border:1px rgb(194, 202, 197) solid;   border-top:none; */
}

.bc-whole img {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  background: transparent;
}

.bc-whole img:hover + .desc {
  transform: translateY(0%);
  opacity: 1;
  visibility: visible;
  height: 70%;
}

.desc {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkPR6yK9IuFadr5aO80Iku6u7-qKDhuZD6DQ&s');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: 0;
  top: 0;
 height: 70%;
  opacity: 0;
  visibility: hidden;
  padding: 1rem;
  font-size:20px;
  font-style: italic;
  color: rgb(0, 0, 0);
  transition: all 0.9s ease-in-out;
  overflow-y: auto;
  transform: translateY(-100%);
}
 
  
.bc-butt{
    background-color: #54BD95;
    color: #F8F8FA;
    width: fit-content;
    margin: auto;
}
